@font-face {
	font-family: TTHovesProTrial;
	font-display: swap;
	src: url("../fonts/TT Hoves Pro Trial Black.woff2") format("woff2"), url("../fonts/TT Hoves Pro Trial Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: TTHovesProTrial;
	font-display: swap;
	src: url("../fonts/TT Hoves Pro Trial Bold.woff2") format("woff2"), url("../fonts/TT Hoves Pro Trial Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: TTHovesProTrial;
	font-display: swap;
	src: url("../fonts/TT Hoves Pro Trial Light.woff2") format("woff2"), url("../fonts/TT Hoves Pro Trial Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: TTHovesProTrial;
	font-display: swap;
	src: url("../fonts/TT Hoves Pro Trial DemiBold.woff2") format("woff2"), url("../fonts/TT Hoves Pro Trial DemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: TTHovesProTrial;
	font-display: swap;
	src: url("../fonts/TT Hoves Pro Trial Medium.woff2") format("woff2"), url("../fonts/TT Hoves Pro Trial Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TTHovesProTrial;
	font-display: swap;
	src: url("../fonts/TT Hoves Pro Trial Regular.woff2") format("woff2"), url("../fonts/TT Hoves Pro Trial Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
